package templates

import "github.com/nasermirzaei89/ketabdoozak/listing"
import "github.com/nasermirzaei89/ketabdoozak/www/templates/components"

templ IndexPage(items []*listing.Item, q string) {
	<main>
		<div class="container mx-auto py-4 gap-4">
			@components.SearchBar(q)
			if q == "" {
				@components.BookGrid("تازه‌ترین کتاب‌ها", items, templ.NopComponent)
			} else {
				@components.BookGrid("نتایج جستجو برای «"+q+"»", items, templ.NopComponent)
			}
		</div>
	</main>
}
