package templates

import . "github.com/nasermirzaei89/ketabdoozak/www/templates/utils"

templ NotFoundPage() {
	<main>
		<div class="container mx-auto py-4 flex flex-col gap-2">
			<h1 class="as-h1">صفحه پیدا نشد</h1>
			<p>صفحه‌ای که به دنبال آن می‌گردید پیدا نشد.</p>
			<p><a href={ GetBaseURL(ctx) } class="as-button variant-outlined is-primary size-md">برو به خانه</a></p>
		</div>
	</main>
}
