ENV=development

# API
HOST=0.0.0.0
PORT=8080

# Authentication Service
## Auth0
AUTH_AUTH0_DOMAIN=my-tenant.us.auth0.com
AUTH_AUTH0_API_IDENTIFIER=https://api.example.com/
AUTH_AUTH0_CLIENT_ID=
AUTH_AUTH0_CLIENT_SECRET=

# WWW Service
## Auth0
WWW_AUTH0_DOMAIN=my-tenant.us.auth0.com
WWW_AUTH0_CLIENT_ID=
WWW_AUTH0_CLIENT_SECRET=
WWW_AUTH0_CALLBACK_URL=

# Cookie
STORE_KEY=super-secret-key

# Minio
# Use localhost:9000 if run api locally
MINIO_ENDPOINT=minio:9000
MINIO_USERNAME=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_USE_SSL=false

# File Manager
FILE_MANAGER_MINIO_BUCKET_NAME=files
FILE_MANAGER_MINIO_BUCKET_CREATE_IF_NOT_EXISTS=false

# Database
DATABASE_DSN=postgresql://db-user:VerySecurePassword@postgres.postgres:5432/db-name?sslmode=disable
POSTGRES_USERNAME=db-user
POSTGRES_PASSWORD=VerySecurePassword
POSTGRES_DBNAME=db-name

# API Open Telemetry configs
OTEL_SERVICE_NAME=ketabdoozak
OTEL_TRACES_EXPORTER="console"
OTEL_METRICS_EXPORTER="console"
OTEL_LOGS_EXPORTER="console"
OTEL_TRACES_SAMPLER="always_on"
OTEL_EXPORTER_OTLP_INSECURE=true
