package components

import "github.com/nasermirzaei89/ketabdoozak/www/templates/icons"

templ SearchBar(q string) {
	<form class="flex p-4 justify-center">
		<label class="as-text-field max-w-96">
			@icons.MdiMagnify(8)
			<input type="search" value={ q } name="q" placeholder="جستجوی کتاب"/>
		</label>
	</form>
}
