package icons

import . "github.com/nasermirzaei89/ketabdoozak/www/templates/utils"

templ MdiPlus(size int) {
	<svg xmlns="http://www.w3.org/2000/svg" width={ IntAttr(size * 4) } height={ IntAttr(size * 4) } viewBox="0 0 24 24">
		<path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z"></path>
	</svg>
}
