package icons

import . "github.com/nasermirzaei89/ketabdoozak/www/templates/utils"

templ MdiLoading(size int) {
	<svg xmlns="http://www.w3.org/2000/svg" width={ IntAttr(size * 4) } height={ IntAttr(size * 4) } viewBox="0 0 24 24" class="animate-spin">
		<path fill="currentColor" d="M12 4V2A10 10 0 0 0 2 12h2a8 8 0 0 1 8-8"></path>
	</svg>
}
