package icons

import . "github.com/nasermirzaei89/ketabdoozak/www/templates/utils"

templ MdiDownload(size int) {
	<svg xmlns="http://www.w3.org/2000/svg" width={ IntAttr(size * 4) } height={ IntAttr(size * 4) } viewBox="0 0 24 24">
		<path fill="currentColor" d="M5 20h14v-2H5m14-9h-4V3H9v6H5l7 7z"></path>
	</svg>
}
